{% extends 'layouts/app.twig' %}

{% block title %} Login {% endblock %}

{% block content %}
    

    <h1>Login</h1>
    
    <form action="/login" method="post">
        
        {{ csrf() | raw }}

        <div>
        
            <label for="email"> Email
                <input type="text" id="email" name="email" required/>
            </label>
            
            <label for="password"> Password
                <input type="password" id="password" name="password" required/>
            </label>
            
            <button type="submit">Login</button>

        </div>

        

    </form>

{% endblock %}