{% extends 'layouts/app.twig' %}

{% block title %} Dahsboard {% endblock %}

{% block content %}
    

    <h1>Dashbaord</h1>

    <div>
        <p> This is your dashboard. </p>
    </div>

{% endblock %}