{% extends 'layouts/app.twig' %}

{% block title %} Home {% endblock %}

{% block content %}
    

    <h1>{{ name }}</h1>
    
    
    <div>

    {% for user in users %}
        <div> 
            <a href="/users/{{ user.id }}" style="text-decoration: none;"> {{ user.first_name }} </a> 
        </div>
    {% endfor %}

    </div>

{% endblock %}