{% extends 'layouts/app.twig' %}

{% block title %} {{ user.first_name }} {% endblock %}

{% block content %}

    <h1>{{ user.first_name }}</h1>
     <hr>
    <div style="text-decoration: underline; font-size: 28px; margin-bottom: 50px;"> 
        <em> Email:</em> <i style="font-weight: bold; color: green;">{{ user.email }}</i>
    </div>
    
{% endblock %}