<body style="background-color: #FFFF;">
    <center>
        <p style="color: grey; margin-top: 25%; font-size: 25px; font-style: mono;"> 
            Page expired. Please go back and refreh.
        </p>
    </center>
</body>