<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% if block('title') is defined %} {{ block('title') }} | {% endif %} No Framework
    </title>

</head>
<body>
    
    <nav>
        {% include 'layouts/partials/navigation.twig' %}
    </nav>

    <main>

        {% block content %}
            
        {% endblock %}
    
    </main>

</body>
</html> 
